body {
  background-color: black;
  font-family: Arial, sans-serif;
}

.project {
  color: white;
  padding: 20px;
  margin-bottom: 10px; 
  margin-left: 5%;
  margin-right: 5%;
  align-items: center;
}
.project> h1{
  text-align: center;

}
.project > h2 {
  color: rgb(194, 23, 23);
  margin-bottom: 10px;
  margin-top: 30px;
}

.project > #image {
  margin-left: 15%;
  max-width: 45%;
  min-height: 250px;
  display: inline-block;
  vertical-align: top;
  z-index: 1;
}

.project > .para {
  font-size: 1.2rem;
  line-height: 1.9;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  color: #beb6cb;
  border: 2px solid white;
  border-radius: 2px;
  max-width: 45%;
  min-height: 250px;
  padding-left: 5px;
  padding-right: 5px;
  z-index: 2;
}

.glitzx {
  margin-bottom: 20px;
}


@media screen and (max-width: 768px) {
  .project > .content {
    grid-template-columns: 100%; 
  }
}
