* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: black;
  font-family: Arial, sans-serif;
}

.project {
  color: white;
  padding: 20px;
  margin-bottom: 10px; 
  display: flex;
}

.project > h1 {
  color: rgb(194, 23, 23);
  margin-bottom: 10px;
}

.project > #image {
  max-width: 100%;
  max-height: 1000px;
  object-fit: cover;
  border-radius: 20px;
  width: 50%; 
  margin-right: 20px; 
}

.project > .para {
  font-size: 1.2rem;
  line-height: 1.9;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  color: #beb6cb;
  width: 50%;
}

.glitzx {
  margin-bottom: 20px;
}


@media screen and (max-width: 768px) {
  .project {
    flex-direction: column; 
  }

  .project > #image {
    width: 100%; 
    margin-right: 0;
    margin-bottom: 20px; 
  }

  .project > .para {
    width: 100%; 
  }
}