* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: black;
  font-family: Arial, sans-serif;
}

.project {
  color: white;
  padding: 20px;
  margin-bottom: 10px; /* Set margin-bottom to 10px */
}

.project > h1 {
  color: rgb(194, 23, 23);
  margin-bottom: 10px;
}

.project > .content {
  display: grid; /* Use grid layout */
  grid-template-columns: 50% 50%; /* Divide the width equally */
  align-items: stretch; /* Stretch items to match the height of the parent container */
}

.project > #image {
  max-width: 100%;
  max-height: 1000px;
  object-fit: cover;
  border-radius: 50%;
}

.project > .para {
  font-size: 1.2rem;
  line-height: 1.9;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  color: #beb6cb;
}

/* Add margin-bottom to .glitzx class */
.glitzx {
  margin-bottom: 20px;
}

/* Media Queries */
@media screen and (max-width: 768px) {
  .project > .content {
    grid-template-columns: 100%; /* Make them stack vertically in mobile view */
  }
}
