.skills-container {
  padding: 20px;
  background-color: black;
  color: white;
  text-align: center;
}

.skills {
  font-size: 4rem;
  color: #5f5d5d;
}

.skills-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.skill-category {
  margin: 15px;
  padding: 15px;
  background-color: #2c2c2c;
  border-radius: 10px;
  text-align: center;
  transition: transform 0.3s, box-shadow 0.3s;
  flex: 0 1 calc(15% - 30px); 
}

.skill-category:hover {
  transform: scale(1.05);
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

.skill-category i {
  font-size: 40px;
  margin-bottom: 10px;
  color: #1abc9c;
}

.skill-details span {
  font-size: 18px;
  display: block;
  margin-bottom: 5px;
}

.skill-progress {
  background-color: #3d3d3d;
  height: 20px;
  border-radius: 5px;
}

.skill-progress-bar {
  height: 100%;
  background-color: #1abc9c;
  border-radius: 5px;
  text-align: right;
  padding-right: 5px;
  line-height: 20px;
  color: #5f5d5d;
  transition: width 1s ease-in-out;
}

.non-technical-skills .content {
  font-size: 1.5rem;
  margin: 10px 0;
  color: #5f5d5d;

}

@media screen and (max-width: 768px) {
  .skills-list {
    justify-content: space-evenly;
  }

  .skill-category {
    flex: 0 1 calc(22% - 20px); 
    margin: 10px;
  }

  .skill-category i {
    font-size: 36px;
  }
}
