/* Add the following styles to navbar.css */

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: rgb(54, 53, 53);
  padding: 10px;
}

.nav-logo {
  display: flex; /* Use flexbox for the logo container */
  align-items: center; /* Center the logo vertically within the container */
}

.nav-logo img {
  height: 50px; /* Adjust the height of the logo as needed */
}

.nav-links {
  display: flex;
}

ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

li {
  margin-right: 20px;
}

a {
  color: white;
  text-decoration: none;
  transition: color 0.3s;
}

a:hover {
  color: #ef3f3f; /* Change the color on hover as desired */
}

/* Media Query for Mobile View */
@media screen and (max-width: 768px) {
  .nav-links {
    display: none; /* Hide the nav links by default in mobile view */
    flex-direction: column;
    position: absolute;
    top: 60px; /* Adjust the top position as needed */
    right: 10px; /* Adjust the right position as needed */
    background-color: #333;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  }

  .nav-links.active {
    display: flex; /* Show the nav links when the menu is active */
  }

  /* Vertically align the links in a column for mobile view */
  ul {
    flex-direction: column;
  }

  li {
    margin: 10px 0; /* Adjust the margin between the links as needed */
  }

  /* Adjust the height of the logo for mobile view */
  .nav-logo img {
    height: 40px;
  }

  /* Add styles for the menu toggle button */
  .menu-toggle {
    display: block;
    background: none;
    border: none;
    cursor: pointer;
    width: 30px;
    height: 30px;
    position: relative;
  }

  .menu-toggle span {
    display: block;
    background-color: white;
    height: 2px;
    width: 100%;
    position: absolute;
    left: 0;
    transition: transform 0.2s;
  }

  .menu-toggle span:nth-child(1) {
    top: 5px;
  }

  .menu-toggle span:nth-child(2) {
    top: 50%;
    transform: translateY(-50%);
  }

  .menu-toggle span:nth-child(3) {
    bottom: 5px;
  }

  /* Show the button icon (three horizontal lines) in default state */
  .menu-toggle:not(.active) span {
    display: block;
  }

  /* Hide the button icon when the menu is active */
  .menu-toggle.active span {
    display: none;
  }

  /* Set the cursor to pointer for links in mobile view */
  .nav-links.active a {
    cursor: pointer;
  }
}
