nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: rgb(54, 53, 53);
  padding: 10px;
}

.nav-logo {
  display: flex; 
  align-items: center;
}

.nav-logo img {
  height: 50px; 
}

.nav-links {
  display: flex;
}

ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

li {
  margin-right: 20px;
}

a {
  color: white;
  text-decoration: none;
  transition: color 0.3s;
}

a:hover {
  color: #ef3f3f;
}

@media screen and (max-width: 768px) {
  .nav-links {
    display: none; 
    flex-direction: column;
    position: absolute;
    top: 60px; 
    right: 10px; 
    background-color: #333;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  }

  .nav-links.active {
    display: flex; 
  }

  ul {
    flex-direction: column;
  }

  li {
    margin: 10px 0; 
  }

  .nav-logo img {
    height: 40px;
  }

  .menu-toggle {
    display: block;
    background: none;
    border: none;
    cursor: pointer;
    width: 30px;
    height: 30px;
    position: relative;
  }

  .menu-toggle span {
    display: block;
    background-color: white;
    height: 2px;
    width: 100%;
    position: absolute;
    left: 0;
    transition: transform 0.2s;
  }

  .menu-toggle span:nth-child(1) {
    top: 5px;
  }

  .menu-toggle span:nth-child(2) {
    top: 50%;
    transform: translateY(-50%);
  }

  .menu-toggle span:nth-child(3) {
    bottom: 5px;
  }

  .menu-toggle:not(.active) span {
    display: block;
  }

  .nav-links.active a {
    cursor: pointer;
  }
}