* {


  margin: 0;
  padding: 0%;
  box-sizing: border-box;
}

body{
  background-color: black;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  color: #beb6cb;  color: #333;
  font-size: 1.2rem;
  line-height: 1.5;
}